<div class="container">
  <form [formGroup]="create">
    <button mat-button (click)="onSubmit()" [disabled]="create.invalid || create.pristine" style="float: right">
      Save
    </button>
    <!-- [disabled]="create.invalid || create.pristine"  -->
    <div class="col-md-12">
      <p>User Role</p>
      <div class="col-md-4">
        <mat-checkbox formControlName="isDispatcher">Dispatcher</mat-checkbox>
        <!-- <mat-slide-toggle formControlName="isDispatcher">Dispatcher</mat-slide-toggle> -->
      </div>
      <div class="col-md-4">
        <mat-checkbox formControlName="isDriver">Driver</mat-checkbox>
        <!-- <mat-slide-toggle formControlName="isDriver">Driver</mat-slide-toggle> -->
      </div>
    </div>

    <div class="col-md-12" style=" overflow: hidden">
      <p style="clear:both;">User Details</p>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput readonly="true" placeholder="Center Desplay ID" />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="First Name" formControlName="firstName" [readonly]="animal" />
        </mat-form-field>
        <mat-error *ngIf="
          create.get('firstName').hasError('required') &&
          create.get('lastName').touched
        ">
          User required
        </mat-error>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Last Name" formControlName="lastName" [readonly]="animal" />
        </mat-form-field>
        <mat-error *ngIf="
          create.get('lastName').hasError('required') &&
          create.get('lastName').touched
        ">
          User required
        </mat-error>
      </div>
      <div class="col-md-4">
        <img [src]="image" width="311px" height="311px" />
        <input style="display: none" type="file" (change)="onChangImage()" #fileInput>
        <button mat-raised-button (click)="fileInput.click()">Upload Image</button>
        <button mat-raised-button *ngIf="deleteImg" (click)="deleteImage()">Delete Image</button>
      </div>
      <div class="col-md-4">
        <div style="margin-bottom: 6%;">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email" [readonly]="animal" />
          </mat-form-field>

          <mat-error *ngIf="
            create.get('email').hasError('email') && create.get('email').touched
          ">
            Not email</mat-error>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="ID Number(for Driver)" formControlName="carrierUserDisplayID" [readonly]="animal" />
          </mat-form-field>
          <mat-error *ngIf="
            create.get('carrierUserDisplayID').hasError('idNumberforDriver')
          ">
            Checked Driver is not rendered</mat-error>
        </div>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Phone Number" formControlName="phoneNumber" [readonly]="animal" />
        </mat-form-field>
        <mat-error *ngIf="
          create.get('phoneNumber').hasError('required') &&
          create.get('phoneNumber').touched
        ">
          User required phone number
        </mat-error>
        <mat-error *ngIf="create.get('phoneNumber').hasError('pattern')">* Not Phone Number</mat-error>
      </div>
    </div>
    <div class="col-md-12">
      <p style="clear:both;">User Details</p>
      <div class="col-md-8">
          <mat-radio-group formControlName="loginType">
              <mat-radio-button value="Phone" style="margin-right:24%">Login by Phonenumber</mat-radio-button>
              <mat-radio-button value="Phone">Login by email</mat-radio-button>
            </mat-radio-group>
       
      </div>
      
      <div class="col-md-4">

        <mat-form-field class="example-full-width">
          <input matInput [placeholder]="phoneorNumber" formControlName="loginEmail" />
        </mat-form-field>
        <mat-error *ngIf="create.get('loginEmail').hasError('ErrorsLogin')">
          * Don't allow duplicate</mat-error>

      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Password" formControlName="password" />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <div *ngIf="!isEdit">
          <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword" [disabled]="isEdit" />
          </mat-form-field>
          <mat-error *ngIf="create.get('confirmPassword').hasError('NoPassswordMatch')">Password does not match</mat-error>
        </div>
      </div>
      <div class="col-md-4">
        <mat-slide-toggle formControlName="isActive">Active</mat-slide-toggle>
      </div>
    </div>
  </form>
  <!-- <button mat-raised-button color="primary">Primary</button> -->
  <div style="clear: both"></div>
  <div class="col-md-12">
    <button mat-raised-button (click)="openDialog()" style="float: left" color="primary">
      Add Document
    </button>
  </div>
<app-usertable [displayedColumns]="displayedColumns" [dataSource]="dataSource" [actions]="_actions"></app-usertable>

  