<div class="container">
  <form [formGroup]="create" (ngSubmit)="onSubmit()">
    <button>Save</button>
    <div class="col-md-12">
      <p>User Role</p>
      <div class="col-md-4">
        <input type="checkbox" formControlName="isDispatcher" />
        <label>Dispatcher</label>
      </div>
      <div class="col-md-4">
        <input type="checkbox" formControlName="isDriver" />
        <label>Driver</label>
      </div>
    </div>

    <div class="col-md-12" style=" overflow: hidden">
      <p style="clear:both;">User Details</p>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput readonly="true" placeholder="Center Desplay ID">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="First Name" formControlName="firstName" [readonly]="animal">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Last Name" formControlName="lastName" [readonly]="animal">
        </mat-form-field>

      </div>
      <div class="col-md-4">
        <img src="https://bom.to/Humc4" />
        <div class="btn-group">
          <button class="btn btn-dark">ok</button>
          <button class="btn btn-danger">nok</button>
        </div>
      </div>
      <div class="col-md-4">
        <div style="margin-bottom: 6%;">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email" [readonly]="animal">
          </mat-form-field>

          <mat-error *ngIf="
              create.get('email').hasError('email') &&
              create.get('email').touched
            ">
            Not email</mat-error>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="ID Number(for Driver)" formControlName="carrierUserDisplayID" [readonly]="animal">
          </mat-form-field>

        </div>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Phone Number" formControlName="phoneNumber" [readonly]="animal">
        </mat-form-field>
        {{
        create.get('phoneNumber').hasError('pattern')

        }}
      </div>
    </div>
    <div class="col-md-12">
      <p style="clear:both;">User Details</p>
      <div class="col-md-4">
        <input type="radio" value="Phone" checked formControlName="loginType" (change)="onChange($event.target)" />
        <label>Login by Phonenumber</label>
      </div>
      <div class="col-md-4">
        <input type="radio" value="Email" checked formControlName="loginType" (change)="onChange($event.target)" />
        <label>Login by email</label>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Phone Number" formControlName="phoneNumber">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Confirm Password" formControlName="cpassword">
        </mat-form-field>
        {{ create.get('cpassword').hasError('NoPassswordMatch') }}
      </div>
      <div class="col-md-4">
        <mat-slide-toggle formControlName="isActive">Active</mat-slide-toggle>
      </div>
    </div>
  </form>
  <!-- <app-usertable></app-usertable> -->
</div>
